
.hero-page {
    padding-top: 5.2em;
}

.hero-image {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.audio-text {
    color: #000;
}

.audio{
    width: 100%;
    height: auto;
}

.preacher {
    font-size: 1.8em
}

.text-description {
    font-size: 1.7em;
    font-style: italic;
    padding-top: 0.5em;
    text-decoration: underline;
}


@media only screen and (min-device-width: 801px) {

    .hero-page {
        padding-top: 8.2em;
    }

    .main {
        width: 70%;
        height: auto;
        margin: 0 auto;
    }

    .audio-wrap {
        width: 50%;
        height: auto;
        padding-top: 1em;
    }
    
}