
.hero-page {
    padding-top: 5.2em;
}

.hero-image {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.audio-text {
    color: #183153;
}

.audio{
    width: 100%;
    height: auto;
}

.preacher {
    font-size: 1.4em
}

.text-description {
    font-size: 1.7em;
}


@media only screen and (min-device-width: 801px) {

    .hero-page {
        padding-top: 8.2em;
    }

    .main {
        width: 70%;
        height: auto;
        margin: 0 auto;
    }

    .shadow {
        display: flex;
        justify-content: space-evenly;
    }
    
}