
*, *::before, *::after {
    margin: 0;
    padding: 0;
}

html, body {
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.logo-img img {
    width: 55px; 
    height: auto;
    margin-left: -0.7em;
}

.logo-text {
    position: absolute;
    width: auto;
    height: auto;
    line-height: 16px;
    top: 14px;
    font-family: monospace;
    word-spacing: -5px;
    font-size: 18px;
}

.navbar-toggler {
    position: absolute;
    font-size: 0.5em;
    right: 8px;
}
/*
.footer {
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: #f5f5f5;
    color: #000000;
    padding: 4px;
}

.footer-nav {
    text-transform: capitalize;
}

.footer-nav a {
    color: #000000;
    font-size: 1.4em;
}

.copyright {
    text-align: center;
}  */

@media only screen and (min-device-width: 967px){

    .logo-img img {
        width: 3em; 
        height: auto;
        margin-left: 2em;
    }
   
    .lg-logo-text {
        position: absolute;
        top: 10px;
        margin-left: 5.7em;
        font-size: 0.9em;
        line-height: 22px;
        font-family: monospace;
        word-spacing: -5px;
    }

    nav {
        display: inline;
    }

    ul {
        position: absolute;
        margin-left: 30em;
        padding-bottom: 2.5em;
        font-size: 1.2em;
        gap: 15px;
    }

    .width {
        width: 50%;
        height: auto;
    }
    
}